<div class="topClass">
    <div id="borderContainer" data-dojo-type="dijit/layout/BorderContainer" data-dojo-attach-point="bcPane" style="height: 100%; width: 100%;" >
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'" data-dojo-attach-point="topPane">
            <div class="floatLeft">
                <img alt="" src="./images/TUTPori-small.gif" />
            </div>
            <div class="floatRight">
                <h4>Standards & Models Library</h4>
            </div>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="splitter:true, region:'leading'" data-dojo-attach-point="leadingPane">
            <div data-dojo-attach-point="containerNode"></div>
        </div>
        <div id="contentId" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" data-dojo-attach-point="centerPane">
        </div>
        <div id="bottomContainerId" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom'" data-dojo-attach-point="bottomPane">
            <div class="floatLeft">
                <p>Tampere University of Technology, Pori</p>
            </div>
            <div class="floatRight">
                <div class="floatLeft">
                    <p>Powered by HaresEPG</p>
                </div>
                <div class="floatRight">
                    <img alt="" src="./images/rabbit26x26.png" />
                </div>
            </div>
        </div>
    </div>
</div>